<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Hotel El Sol</title>
    <link rel="stylesheet" href="/css/inicio.css">
</head>
<body>
    <header>
        <h1>Bienvenida a Hotel El Sol</h1>
        <nav>
            <a href="/reserva" class="boton">Reservar</a>
            <a href="#" class="boton">Servicios</a>
            <a href="#" class="boton">Contacto</a>
        </nav>
    </header>

    <main>
      <img src="/images/imagenhotel.jpg" alt="Fachada del Hotel El Sol">
        <section class="descripcion">
            <p>Disfrutá de una experiencia única en nuestro HOTEL EL SOL, con habitaciones de lujo, spa y atención personalizada.</p>
        </section>
    </main>
</body>
</html>